  <div ng-include="'partials/banner.html'" style="margin-top: 15px; margin-left: 25px;"></div>
  <div class="container" style="margin-top: 20px;">
		<div class="row">	

	    <div ng-repeat="movie in unwatchedMovies" class="col l4">
	    	<div class="card hoverable">
	    	  <a class="waves-effect waves-teal btn-flat right" ng-click="deleteMovie(movie.id)" id="{{ movie.id }}">Delete</a>
					<div class="card-image">	
	     			<img src="{{ movie.Poster }}">
	     		</div>
	     		<div class="card-action">
            <a ng-click="makeWatched()">Add to Watched</a>
          </div>	
				</div>
	    </div>
		</div>
  </div>